#DEFAULT THEME COLOUR FOR RIDE
"title":"Default",
"default":"white",
"text":"white",
"comment":"light green",
"mcomment":"green",
"integer":"violet",
"float":"violet",
"string":"yellow",
"verb":"cyan",
"ret_type":"pink",
"ret_arrow":"pink",
"comparison":"white",
"boolean":"violet",
"bitwiseop":"dark blue",
"background":"dark grey"

